<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li title="playersummary" class="sidelist parent active">
                        <a href="/playersummary">playersummary</a>
                        <ul>
                            

                        </ul>
                    </li>

            <div class="column is-8-desktop is-12-tablet">
                <div class="px-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">
                                        <%= playerdata.response.players[0].personaname %>
                                    </p>
                                    
                                        <span class="has-text-weight-medium">Time Created: </span>
                                        <%= playerdata.response.players[0].timecreated %><br />
                                            <span class="has-text-weight-medium">Last Log Off: </span>
                                            <%= playerdata.response.players[0].lastlogoff %><br />
                                                <span class="has-text-weight-medium">Profile URL: </span>
                                                <%= playerdata.response.players[0].profileurl %><br />
                                                    <span class="has-text-weight-medium">Persona State: </span>
                                                    <%= playerdata.response.players[0].personastate %><br />
                                                        <span class="has-text-weight-medium">Real Name: </span>
                                                        <%= playerdata.response.players[0].realname %><br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>