<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://avatars.steamstatic.com/8b3c50aac76e538d771fd1ac7483b840c03b6098_full.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%= playerdata.response.players[0].personaname %></h4>
                      <p class="text-secondary mb-1">Steam User</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <span class="text-secondary"><%= playerdata.response.players[0].profileurl %></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Real Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= playerdata.response.players[0].realname %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Steam Link</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= playerdata.response.players[0].profileurl %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Steam ID</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= playerdata.response.players[0].steamid %>
                    </div>
                    <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Time Account was Created</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= playerdata.response.players[0].timecreated %>
                    </div>

              


            </div>
          </div>

        </div>
    </div>